body {
    background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/320/apple/325/broccoli_1f966.png");
    background-color: rgba(0, 148, 0, 0.517);
    background-repeat: repeat;
    
    text-align: center;
    font-size: 30px;
}

h1, p{
    background-color:rgba(0, 209, 0, 0.546);
    color:rgb(252, 235, 235);
}